<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WCreateUser</servlet-name>
    <servlet-class>com.ad.servlet.WCreateUser</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WLogin</servlet-name>
    <servlet-class>com.ad.servlet.WLogin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WGetUserIndo</servlet-name>
    <servlet-class>com.ad.servlet.WGetUserIndo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WGetUserFund</servlet-name>
    <servlet-class>com.ad.servlet.WGetUserFund</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WGetFundNumber</servlet-name>
    <servlet-class>com.ad.servlet.WGetFundNumber</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WGetFundNameAndCoce</servlet-name>
    <servlet-class>com.ad.servlet.WGetFundNameAndCoce</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WCreateFund</servlet-name>
    <servlet-class>com.ad.servlet.WCreateFund</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WSellFund</servlet-name>
    <servlet-class>com.ad.servlet.WSellFund</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WGetUserSpecificFundNumber</servlet-name>
    <servlet-class>com.ad.servlet.WGetUserSpecificFundNumber</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WGetUserSpecificFundInfo</servlet-name>
    <servlet-class>com.ad.servlet.WGetUserSpecificFundInfo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WGetUserFundBuyNameCodeNumber</servlet-name>
    <servlet-class>com.ad.servlet.WGetUserFundBuyNameCodeNumber</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>WDelFund</servlet-name>
    <servlet-class>com.ad.servlet.WDelFund</servlet-class>
  </servlet>












  <servlet-mapping>
    <servlet-name>WCreateUser</servlet-name>
    <url-pattern>/WCreateUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WLogin</servlet-name>
    <url-pattern>/WLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WGetUserIndo</servlet-name>
    <url-pattern>/WGetUserIndo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WGetUserFund</servlet-name>
    <url-pattern>/WGetUserFund</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WGetFundNumber</servlet-name>
    <url-pattern>/WGetFundNumber</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WGetFundNameAndCoce</servlet-name>
    <url-pattern>/WGetFundNameAndCoce</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WCreateFund</servlet-name>
    <url-pattern>/WCreateFund</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WSellFund</servlet-name>
    <url-pattern>/WSellFund</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WGetUserSpecificFundNumber</servlet-name>
    <url-pattern>/WGetUserSpecificFundNumber</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WGetUserSpecificFundInfo</servlet-name>
    <url-pattern>/WGetUserSpecificFundInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WGetUserFundBuyNameCodeNumber</servlet-name>
    <url-pattern>/WGetUserFundBuyNameCodeNumber</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WDelFund</servlet-name>
    <url-pattern>/WDelFund</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>jsp/login.jsp</welcome-file>
  </welcome-file-list>
</web-app>
